<div>
   <h2 class="text-primary text-center">Toy List</h2>
</div>

<div class="container text-center ">
   <div class="card-group ">
      {{#each ToyShop}}
      <div class="card col-md-3">
         <div class="card-body">
            <a href="ToyShop/detail/{{_id}}">
               <img class="card-img-top" src="{{image}}" width="250" height="250">  
            </a>
         </div>
      </div>
      {{/each}}
   </div>
</div>
</br>