<div>
    <h2 class="text-primary text-center m-5">Welcome to ATN-ToyShop</h2>
</div>
</br>
<div class="container text-center m-5">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png" />
</div>
<br>