<h1 class="text-center text-primary">Welcome to ATN-ToyShop</h1></br>
<div class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png" />
</div>
</br>