<!DOCTYPE html>
<html>

<head>
  <title>ATN ToyShop - Web Demo - Cloud Computing</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="alert alert-warning nav justify-content-center  ">
      <h1><a class="nav-link" href="/">Home</a></h1>
      <h1><a class="nav-link" href="/ToyShop">ToyShop</a></h1>
    </nav>
  </header>

  {{!-- render ra body của từng webpage --}}
  {{{body}}}

</body>

<footer>
  <p class="alert alert-info text-center mt-5">Nguyen Nhat Trung - Cloud computing - Fall 2022</p>
</footer>

</html>