<h1 class="text-primary">Welcome to ATN-ToyShop</h1> </br>
<h2 class="text-primary text-center">Lego List</h2> </br>

<div class="container text-center ">
    <div class="card-group ">
        {{#each lego}}
        <div class="card col-md-3">
            <div class="card-body">
                <a>
                    <img class="card-img-top" src="{{image}}" width="250" height="250">
                </a>
                <th>{{name}}</th>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</br>